<div class="post-item">
  <h2>{{title}}</h2>
  <div class="post-details">
    <p class="date"><i class="fas fa-calendar-alt"></i> {{date format="DD MMMM YYYY"}}</p>
    <p class="tags"><i class="fas fa-tags"></i> {{tags}}</p>
  </div>
  <p class="post-excerpt">
      {{excerpt}}
  </p>

  <a href={{url}} class='read-more'>READ MORE</a>
</div>
